body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-items {
    list-style-type: none;
}

.nav-items li {
    display: inline;
    margin-right: 20px;
}

header img {
    width: 50%;
    max-height: 1%;
    
}

header {
    text-align: center;
}

.fasilitions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav img {
    width: 50px;
    height: 50px;
}